name: SE Extended PrePatchs

on:
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: SETTING UP JAVA
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '21'

      - name: SETTING JAVA HOME
        run: echo "JAVA_HOME=$(echo ${{ steps.setup-java.outputs.java-home }})" >> $GITHUB_ENV

      - name: SETTING UP NODE.JS
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: CHECKING OUT CODE
        uses: actions/checkout@v4

      - name: INSTALLING DEPENDENCIES
        run: |
          sudo apt-get update
          sudo apt-get install -y jq curl
        shell: bash

      - name: INSTALLING UNZIP
        run: sudo apt-get install unzip -y

      - name: INSTALLING PUP
        run: |
          wget https://github.com/ericchiang/pup/releases/download/v0.4.0/pup_v0.4.0_linux_amd64.zip -O pup.zip
          unzip pup.zip
          chmod +x pup
          sudo mv pup /usr/local/bin/
        working-directory: .

      - name: GRANTING RUN PERMISSIONS TO APK DOWNLOADER SCRIPT
        run: chmod +x downloader.sh
        working-directory: .

      - name: RUNNING APK DOWNLOADER SCRIPT
        run: |
          ./downloader.sh

      - name: RUNNING THE JAVA COMMAND
        run: |
          java -jar lspatch.jar -m "$GITHUB_WORKSPACE/Core.apk" -f -l 2 -v snapchat.apk

      - name: RENAMING APK FILE
        run: |
          mv ./snapchat-418-lspatched.apk ./${{ env.VERSION }}-PrePatch.apk

      - name: UPLOADING APK ARTIFACT
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.VERSION }}-PrePatch.apk
          path: ./${{ env.VERSION }}-PrePatch.apk

      - name: CHECKING IF THE RELEASE EXISTS
        id: check_release
        run: |
          RELEASE_VERSION=${{ env.VERSION }}
          if curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }}/releases/tags/$RELEASE_VERSION &> /dev/null; then
            RELEASE_VERSION=$(echo $RELEASE_VERSION | awk -F. '{$NF = $NF + 1;} 1' | sed 's/ /./')
            echo "RELEASE_EXIST=yes" >> $GITHUB_OUTPUT 
          else
            echo "RELEASE_EXIST=no" >> $GITHUB_OUTPUT
          fi
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV

      - name: CREATING OR UPDATING THE RELEASE
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.VERSION }}-PrePatch.apk
          tag_name: ${{ env.VERSION }}

      - name: SENDING RELEASE MESSAGE TO PREPATCH CHANNEL
        if: steps.check_release.outputs.RELEASE_EXIST == 'no'
        uses: appleboy/telegram-action@master
        with:
          to: ${{secrets.TELEGRAM_CHAT_ID}}
          token: ${{secrets.TELEGRAM_TOKEN}}
          disable_web_page_preview: true
          format: markdown
          message: |
            *New Snapchat PrePatch!*
            *${{ env.SHORTVERSION }}* 
            
            *How To Download:*
            *1. Press the "Direct Download Link"*
            *2. Wait for the download to finish*
            *3. Press the download notification*
            *4. Press ether "Install" or "Update"*
            
            *Direct Download Link:*
            https://github.com/SE-Extended/PrePatch/releases/download/${{ env.VERSION }}/${{ env.VERSION }}-PrePatch.apk
